<header>
    <a href="/" id="logo">re*curate</a>
    <form>
    </form>
    <button><a href="/logout">Log out</a></button>

    <!-- Profile Picture & Link to Profile Page -->
    <a href="/profile/{{user.email}}" class="profile-header">
        <img src="{{#if user.profile_photo}}{{user.profile_photo}}{{else}}/uploads/default-profile.png{{/if}}" 
             alt="Profile Picture" class="profile-pic-header">
    </a>
</header>

<style>
    .profile-header {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .profile-pic-header {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid white;
        transition: transform 0.2s ease-in-out;
    }

    .profile-pic-header:hover {
        transform: scale(1.1);
    }
</style>
