{{> formheader}}
<div id="content">
    <div id="spacer"></div>
    <div class="post-card">
        <h1>Admin Dashboard</h1>
        <p>Welcome, {{user}}! You have admin privileges.</p>
        <ul>
            <li><a href="/manage-users">Manage Users</a></li>
            <li><a href="/manage-posts">Manage Posts</a></li>
        </ul>
    </div>
    <div id="spacer"></div>
</div>
